*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'myFont';
    src: url('./src/FontA.woff') format('woff'),
        url('./src/FontB.woff') format('woff');
}

html {
    /* this line of code gives the container div a height to grow */
    height: 100%;
}

#tab-browsing {
    display: flex;
    flex-direction: row;
}
h1 {
    font-family:'myFont';
}