*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Turista Gorda NF W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/3cfe6d7e2919d98e0c6994d3dfbeda2c.eot");
    src: url("https://db.onlinewebfonts.com/t/3cfe6d7e2919d98e0c6994d3dfbeda2c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3cfe6d7e2919d98e0c6994d3dfbeda2c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3cfe6d7e2919d98e0c6994d3dfbeda2c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3cfe6d7e2919d98e0c6994d3dfbeda2c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3cfe6d7e2919d98e0c6994d3dfbeda2c.svg#Turista Gorda NF W01 Regular")format("svg");
}

html {
    height: 100%;
    font-family: "Turista Gorda NF W01 Regular";
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 38, 38);
}

#content {
    flex: 1 0 auto;
}

.content-box {
    max-width: calc(80% - 80px);
    margin: 0 auto;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: clamp(2rem, 1.286rem + 1.905vw, 3rem);
    color: rgb(233, 210, 0);
    text-align: center;
    list-style: none;
}

.selected-content {
    margin-top: 1rem;
}

.top-menu-options {
    cursor: pointer;
}

.images {
    width: 100%;
    max-width: 100%;
}

ul .active {
    color: white;
}

li:hover,
li:focus {
    color: white;
}

.active {
    display: block;
}

h1 {
    font-size: clamp(2rem, 1.286rem + 1.905vw, 3rem);
    color: rgb(233, 210, 0);
    text-align: center;
}

h2 {
    font-size: clamp(0.75rem, 0.214rem + 1.429vw, 1.5rem);
    font-weight: lighter;
    color: rgb(243, 243, 243);
    text-align: center;
}

h3 {
    font-size: clamp(0.6rem, 0.1rem + 1.333vw, 1.3rem);
    font-weight: lighter;
    color: rgb(243, 243, 243);
}

footer {
    flex-shrink: 0;
    max-width: calc(80% - 80px);
    margin: 0 auto;
}